html {
  scroll-behavior: smooth;
  font-family: "Space Grotesk", Verdana, Geneva, Tahoma, sans-serif;
} 
body {
    font-weight: 400;
    background-color: white;
    padding: 0;
    color: black;
}
main{
    margin: 0vw 7vw;
    background-color: white;
}
p, h1, h2, h3, h4, ul, li, .hmw, .linkButton, #nameText{
    font-family: "Space Grotesk", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
}
p{
    font-size: 16px;
    padding: 0%;
    margin: 0%;
}
h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.2rem;
}
h2{
    font-size: 16px;
    font-weight: bold;
}
h3{
    font-size: 14px;
    font-style: italic;
}
h4{
    font-size: 14px;
    font-style: italic;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 7rem;
    outline: solid black 2px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.navSpacer{
    height: 3rem;
}
#navLogo{
    width: 1.8rem;
}
#navLogo:hover, .xButton:hover {
    scale: 85%;
    transition-duration: 300ms;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
}
#navPages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:end;
}
.navOpt {
    padding: 0.2rem 0rem;
    margin-left: 3rem;
    text-align: center;
    text-decoration: none;
    width: 3rem;
}
.navOpt:hover, .desc a:hover{
    font-weight: bold;
    transition-duration: 300ms;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
    
}
nav a {
    text-decoration: none;
}
#emmaVidContainer{
    height: 50vw;
}
#nameText{
    color: #564781;
    font-size: 12vw;
    font-weight: 500;
    text-align: center;
    z-index: 2;
    padding: 13vw 0vw;
}
#myVideo{
    position: absolute;
    width: 100vw;
    filter: brightness(1.29);
    z-index: -1;
}
#intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#intro p{
    width: 43%;
}
#me{
    width: 49%;
    height: 100%;
}
#edEx{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
}
#edEx h1{
    padding: 3rem 0rem 1rem 0rem;
    grid-column-start: 1;
    grid-column-end: 3;
}
.edExBox{
    background-color: #ceeaee;
    padding: 2rem;
}
.titlesDates{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 1rem;
}
.titles{
    grid-column: 1/5;
}
.date{
    grid-column: 5/7;
    text-align: right;
}

.linkButton{
    background-color: #CFD72A;
    margin: 2rem 0rem;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: normal;
}
.linkButton:hover{
    background-color: #564781;
    color: white;
    transition-duration: 300ms;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
}

#filters{
    padding: 2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.filterButton{
    border: none;
    background-color: #ceeaee;
    padding: 0.3rem 0.8rem;
}
.filterButton:hover, .prototypeLink:hover {
    background-color: #CFD72A;
    color: black;
    font-weight: bold;
    transition-duration: 300ms;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
}

#workGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    row-gap: 2rem;
}
.workItem {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.8rem;
    padding: 2rem;
    border: solid black 2px;
    width: 27vw;
    text-decoration: none;
}
.workItem:hover {
    scale: 0.99;
    transition-duration: 300ms;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
    border: solid rgb(65, 65, 65) 2px;
}
.workItem h1 img{
    flex-shrink: 0;
}
.workItem p{
    display: none;
}
#placeHolder{
    visibility: hidden;
}
.workThumbnail {
    width: 100%;
}
.workTag{
    background-color: #e0e0e0;
    padding: 0.2rem 0.5rem;
    border: none;
    margin-right: 0.8rem;
    height:max-content
}
.mainImage{
    width: 100%;
}
.workExplanation {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    margin-bottom: 2rem;
}
.workExplanation div{
    flex-shrink: 0;
}

.caseStudyNav{
    position: fixed;
    right: 0;
    top: 32vh;
    height: 100%;
    color: #808080;
    /* font-weight: bold; */
    text-align: right;
    margin-right: 2rem;
    z-index: 1;
}
.caseStudyNav ul{
    list-style: none;
    line-height: 3.5rem;
    padding: 0%;
}
.caseStudyNav a {
        display: block;
        text-decoration: none;
}
.caseStudyNav a:hover{
    color: black !important;
    font-weight: bold;
}
.hero{
    width: 100%;
}
section{
    margin: 2rem 0rem;
}
.bigImgBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 70vh;
}
.bigImgBox p{
    background-color: white;
    width: 100%;
}
.caseStudyIntro {
    display: grid;
    grid-template-columns: 2fr 7fr;
    column-gap: 5rem;
}
.caseStudyInfo {
    grid-column: 0/1;
    max-width: 11rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}
.paragraph{
    margin-bottom: 2rem;
}
.prototypeLink{
    border: none;
    width: 11rem;
    max-width: 11rem;
    background-color: #ceeaee;
    padding: 0.3rem 0.8rem;
}
.hmw{
    /* background-color: #ceeaee; */
    border: 2px solid black;
    text-align: center;
    /* position: relative;
    left: -12rem; */
    /* width: 100vw; */
    padding: 5rem 10rem;
    font-size: 32px;
    font-weight: 500;
    margin: 5rem 0rem;
}
.caseStudyArticle em {
    font-weight: bolder;
    color: #407a93;
    font-style: normal;
}
.caseStudyArticle h4{
    color: #808080;
}
.caseStudyArticle p{
    margin: 0.8rem 0rem 0.8rem 0rem;
}
.caseStudySubsection{
    margin: 6rem 0rem;
}
.column2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}
.column3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}
.caseStudySubsection img{
    width: 100%;
}
.desc{
    text-align: center;
    margin-top: 0.7rem;
}
.desc a{
    color: #407a93;
}
.flipBoxes{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-between;
}
.flipBox{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    width: 13.6vw;
    height: 13.6rem;
    padding: 1rem;
}
.flipBox .back {
  display: none;
}
.flipBox:hover .back {
  display: block;
}
.flipBox:hover .front {
  display: none;
}
.justText{
    width: 50%;
}
.outline{
    /* border: 1px solid #a8a8a8 */
    box-shadow: #d4d4d4 0px 0px 3px;
}
.carouselButtons{
    border: none;
    background-color: white;
    color: #808080;
    font-size: 1.5rem;
}
.carouselButtons:hover {
    color: black;
}
.dotsCurrent{
    color: black;
}
.testDesc{
    display: none;
}


.sorry{
    color: #564781;
    animation-name: sorryColor;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: solid black 2px;
    padding: 0.9rem 0rem;
    margin-top: 2rem;
}
footer img{
    width: 1.7rem;
    padding-bottom: 3px;

}
footer > div{
    margin: 0rem 1.5rem;
}
footer > div:hover{
    scale: 0.95;
    transition-duration: 300ms;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
}
footer a{
    text-decoration: none;
}

svg{
    fill: black
}
.link:hover{
    color: #564781;
    transition-duration: 300ms;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
}
:focus-visible{
    outline: solid 3px red;
}


@media only screen and (max-width: 1300px) {
    .workExplanation div{
        flex-shrink: 1;
    }
    .workExplanation p{
        flex-shrink: 4;
    }
}

@media only screen and (max-width: 900px) {
    #intro {
        display: block;
    }
    #intro p, #me {
        width: 100%;
        margin: 1rem 0rem;
    }
    #edEx{
        display: block;
    }
    #edEx h1{
        padding-top: 0rem;
    }
    .edExBox{
        margin-bottom: 2rem;
    }
    .linkButton{
        margin-top: 0rem;
    }
    .workItem{
        width: 40vw;
    }
    .workExplanation {
        display:block;
        justify-content: center;
    }
    .hmw{
        font-size: 24px;
        padding: 3rem 15rem;
    }
}

@media only screen and (max-width: 600px) {
    nav{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0vw 10vw;
    }
    #navLogo, #navPages{
        width: 100%;
    }
    #navLogo{
        height: 1.8rem;
    }
    #navPages{
        justify-content: center;
    }
    .navOpt{
        margin: 0.2rem 1.5rem;
        width: 3rem;
    }
    .navSpacer{
    height: 5rem;
}
    .workItem{
        width: 100%;
    }
    footer{
        row-gap: 1rem;
    }
    footer > div{
        margin: rem 4rem;
    }
     .hmw{
        padding: 2rem 0rem;
    }
}
@media only screen and (max-width: 400px) {
    .navSpacer{
        height: 6.3rem;
    }
}
@media only screen and (max-width: 242.40px) {
    .navSpacer{
        height: 8.7rem;
    }
}
